:root {
    --text-light: #ffffff;
}
html {
    font-family: 'Open Sans', sans-serif;
}
.page-header {
    text-align: center;
    padding: 1em;
    margin-bottom: 1em;;
}
.categories {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    /* použijte auto-fit s šířkou sloupce minimálně 300px */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 1em;
    gap: 1em;
}
.categories__item {
    position: relative;
    color: inherit;
    /* max-height: 80vh; */
    overflow: hidden;

}
.categories__item:hover {
    box-shadow: 0 0 8px 2px var(--text-light);
}
.categories__item-image {
    filter: brightness(0.9) saturate(1) contrast(1);
}
.categories__item-description {
    padding: 1em;
    color: var(--text-light);
}
/* TODO */


/* Global */
.img-responsive {
    width: 100%;
    display: block;
}
figure, h2 {
    margin: 0;
}
.heading {
    margin: 0.25em 0;
    font-weight: bold;
}
.heading--h1 {
    text-transform: uppercase;
    font-size: 2em;
    color: var(--text-light);
}
 
.categories:not(:has(a:hover)) img {
    filter: blur(0px);
}
a.categories__item img{
    filter: blur(4px);

}
a.categories__item:hover img{
    filter: blur(0px);
}
.categories__item-description{
    transition: bottom 0.3s ease, left 0.3s ease, translate 0.3s ease;
    position: absolute;
    left: 0;
    bottom: 0;
    white-space: nowrap;
}

.categories__item:hover .categories__item-description{
    position: absolute;
    bottom:50%;
    left:50%;
    translate:-50% 50%; 
}
a.categories__item {
    position: relative;
    transition:scale 0.3s ease;
    border-radius: 15px;
    overflow: hidden;

}

.categories__item:hover {
    scale: 1.05;
}

.page-header{
    background-image: url(../images/egypt.jpg);
    background-size: cover;
}
